<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.OrderMapper">

  <insert id="insert" useGeneratedKeys="true" keyProperty="id">
    insert into orders (number, status, user_id, address_book_id, order_time, checkout_time, pay_method,
                        pay_status, amount, remark, phone, address, user_name, consignee, cancel_reason,
                        rejection_reason, cancel_time, estimated_delivery_time, delivery_status, delivery_time,
                        pack_amount, tableware_number, tableware_status)
    values (#{number}, #{status}, #{userId}, #{addressBookId}, #{orderTime}, #{checkoutTime}, #{payMethod},
            #{payStatus}, #{amount}, #{remark}, #{phone}, #{address}, #{userName}, #{consignee}, #{cancelReason},
            #{rejectionReason}, #{cancelTime}, #{estimatedDeliveryTime}, #{deliveryStatus}, #{deliveryTime},
            #{packAmount}, #{tablewareNumber}, #{tablewareStatus})
  </insert>

  <update id="update" parameterType="com.sky.entity.Orders">
    update orders
    <set>
      <if test="cancelReason != null">
        cancel_reason = #{cancelReason},
      </if>
      <if test="rejectionReason != null">
        rejection_reason = #{rejectionReason},
      </if>
      <if test="cancelTime != null">
        cancel_time = #{cancelTime},
      </if>
      <if test="payStatus != null">
        pay_status = #{payStatus},
      </if>
      <if test="payMethod != null">
        pay_method = #{payMethod},
      </if>
      <if test="checkoutTime != null">
        checkout_time = #{checkoutTime},
      </if>
      <if test="status != null">
        status = #{status},
      </if>
      <if test="deliveryTime != null">
        delivery_time = #{deliveryTime}
      </if>
    </set>
    where id = #{id}
  </update>

  <select id="pageQuery" resultType="Orders">
    select * from orders
    <where>
      <if test="status != null and status != ''">and status = #{status}</if>
      <if test="number != null and number != ''">and number = #{number}</if>
      <if test="phone != null and phone != ''">and phone = #{phone}</if>
      <if test="userId != null and userId != ''">and user_id = #{userId}</if>
      <if test="beginTime != null and beginTime != ''">and delivery_time &gt;= #{beginTime}</if>
      <if test="endTime != null and endTime != ''">and delivery_time &lt;= #{endTime}</if>
    </where>
    order by order_time desc
  </select>

  <select id="getTurnoverByDate" resultType="com.sky.dto.TurnoverDTO">
    select date_format(order_time, '%Y-%m-%d') as date,
           sum(amount)                         as turnover
    from orders
    where status = #{status}
      and order_time &gt;= #{begin}
      and order_time &lt; date_add(#{end}, interval 1 day)
    group by date_format(order_time, '%Y-%m-%d')
    order by date
  </select>

  <select id="getOrderStatisticsByDate" resultType="com.sky.dto.OrderStatisticsDTO">
    select date_format(order_time, '%Y-%m-%d') as date,
           count(*)                            as totalOrderCount,
           sum(IF(status = 5, 1, 0))           as validOrderCount
    from orders
    where order_time &gt;= #{begin}
      and order_time &lt; #{end}
    group by date_format(order_time, '%Y-%m-%d')
    order by date
  </select>

  <select id="getBusinessDataByDate" resultType="com.sky.dto.BusinessDataDTO">
    select ifnull(sum(if(status = 5, amount, 0)), 0) as turnover,
           ifnull(sum(if(status = 5, 1, 0)), 0)      as validOrderCount,
           count(*)                                  as totalOrderCount
    from orders
    where order_time &gt;= #{begin}
      and order_time &lt; #{end}
  </select>

  <select id="countByStatus" resultType="java.lang.Integer">
    select count(id)
    from orders
    <where>
      <if test="status != null">status = #{status}</if>
    </where>
  </select>

  <select id="getDailyBusinessData" resultType="com.sky.dto.DailyBusinessDataDTO">
    WITH RECURSIVE date_range AS (SELECT DATE(#{begin}) AS date
                                  UNION ALL
                                  SELECT DATE_ADD(date, INTERVAL 1 DAY)
                                  FROM date_range
                                  WHERE date &lt; DATE(#{end}) - INTERVAL 1 DAY)
    SELECT DATE_FORMAT(dr.date, '%Y-%m-%d')              AS date,
           IFNULL(SUM(IF(o.status = 5, o.amount, 0)), 0) AS turnover,
           IFNULL(SUM(IF(o.status = 5, 1, 0)), 0)        AS validOrderCount,
           COUNT(o.id)                                   AS totalOrderCount,
           CASE
             WHEN COUNT(o.id) = 0 THEN 0
             ELSE IFNULL(SUM(IF(o.status = 5, 1, 0)), 0) / COUNT(o.id)
             END                                         AS orderCompletionRate,
           CASE
             WHEN IFNULL(SUM(IF(o.status = 5, 1, 0)), 0) = 0 THEN 0
             ELSE IFNULL(SUM(IF(o.status = 5, o.amount, 0)), 0)
               / SUM(IF(o.status = 5, 1, 0))
             END                                         AS unitPrice,
           IFNULL(MAX(uc.newUserCount), 0)               AS newUsers
    FROM date_range dr
           LEFT JOIN orders o
                     ON o.order_time &gt;= dr.date
                       AND o.order_time &lt; DATE_ADD(dr.date, INTERVAL 1 DAY)
           LEFT JOIN (SELECT DATE(create_time) AS date, COUNT(*) AS newUserCount
                      FROM user
                      WHERE create_time &gt;= #{begin}
                        AND create_time &lt; #{end}
                      GROUP BY DATE(create_time)) uc ON uc.date = dr.date
    GROUP BY dr.date
    ORDER BY dr.date;
  </select>

</mapper>
