/* Variables */

/* Base color */
$mine: #ffc200;
$loginBg: #ffcfac;
$blue: #2892e5;
$green: #1dc779;
$yellow: #ffb302;
$pink: #f56c6c;
$block: #000;
$gray-1: #20232a;
$gray-2: #818693;
$gray-3: #bac0cd;
$gray-4: #d8dde3;
$gray-5: #f3f4f7;
$gray-6: #ebeef5;
$bgColor: #fafafb;
$white: #fff;

/* Sidebar */
// 宽度
$sideBarWidth: 190px;
// 菜单
$menuBg: #343744;
$menuText: #bfcbd9;
// 菜单-激活
$menuActiveText: $mine;
// 子菜单
$subMenuBg: #272a36;
// 子菜单-悬浮
$subMenuHoverBg: #4d4d4d;
$subMenuHoverColor: #ffffff;
$subMenuHoverText: #ffffff;
// 子菜单-激活
$subMenuActiveBg: #e3e3e3;
$subMenuActiveColor: #333;
$subMenuActiveText: #333;

/* Login page */
$lightGray: #080808;
$darkGray: #889aa4;
$loginCursorColor: #080808;
